.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-image {
  max-height: 100%;
}

.title-exercise {
  font-size: 30px;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 22px;
  padding-top: 25px;
  padding-left: 25px;
}

.exercise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  column-gap: 25px;
}

.exercise-container img {
  width: 500px;
  height: auto;
}

.exercise-line {
  height: 1px;
  background: rgba(189, 161, 161, 0.2);
  margin-top: 10px;
  width: 1250px;
  margin: 20px auto;
}

@media (max-width: 790px) {
  .title-exercise {
    padding-left: 0;
    margin-left: 5px;
  }
}

@media (max-width: 570px) {
  .exercise-container img {
    width: 350px;
  }
}

@media (max-width: 410px) {
  .exercise-container img {
    width: 300px;
  }
}
