.container_index {
  display: flex;
}

.workout-calendar-container {
  max-width: 1100px;
}

.container__workout {
  display: flex;
  flex-direction: column;
}

.mainImage {
  display: flex;
  justify-content: center;
}

.mainImage img {
  border-radius: 20px;
}

.workout-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-bottom: 20px;
}

.line__workout-controls {
  height: 1.5px;
  background: rgb(202, 194, 194);
  max-width: 950px;
  margin-left: auto;
}

.butn1 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.workouts {
  border: 2px solid #1e3231;
  padding: 20px;
  border-radius: 16px;
}

.mirrored-image {
  transform: scaleX(-1);
}

.photo-block {
  max-width: 350px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.photo-block img {
  object-fit: cover;
  width: 170px;
  height: 220px;
  border-radius: 16px;
}

.custom-form {
  display: inline-block;
}

.custom-select {
  padding: 8px 28px 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23333" d="M6 8L0 0h12z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 8px;
  cursor: pointer;
}

.custom-select:hover {
  border-color: #aaa;
}

.custom-select:focus {
  border-color: #555;
}

.arrows-button {
  width: 40px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.arrows-image {
  width: 40px;
}

.radio-icon {
  display: block;
  width: 40px;
  height: 40px;
}

.calendar-container {
  padding-top: 10px;
  display: flex;
  margin-left: 120px;
}

.calendar {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  margin: 20px auto;
}

.calendar table {
  width: 100%;
}

.calendar th,
.calendar td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.calendar th {
  background-image: linear-gradient(to bottom, #fff5ee, #f8eedb);
  font-weight: bold;
  color: #333;
}

.calendar input[type="text"] {
  width: calc(100% - 32px);
  height: 100px;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  word-wrap: break-word;
}

.calendar td:hover {
  background-color: #f9f9f9;
}

.calendar button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.calendar th[colspan="7"] {
  letter-spacing: 20px;
}

.text {
  font-size: 25px;
}

@media (max-width: 1550px) {
  .workouts {
    text-align: center;
  }
}

@media (max-width: 1170px) {
  .calendar-container {
    margin-left: 20px;
  }
}

@media (max-width: 1250px) {
  .workout-controls {
    padding-left: 100px;
  }
}

@media (max-width: 810px) {
  .container_index {
    flex-direction: column;
    align-items: center;
  }

  .container__workout {
    margin: 50px;
  }

  .container__workout {
    max-width: 400px;
  }
}

@media (max-width: 570px) {
  .mainImage {
    display: none;
  }

  .workout-controls {
    padding-left: 10px;
  }

  .calendar-container {
    margin-left: 0;
  }
}
